%h1 Listing cart_products

%table
  %thead
    %tr
      %th Cart
      %th Product
      %th Quantity
      %th
      %th
      %th

  %tbody
    - @cart_products.each do |cart_product|
      %tr
        %td= cart_product.cart_id
        %td= cart_product.product_id
        %td= cart_product.quantity
        %td= link_to 'Show', cart_product
        %td= link_to 'Edit', edit_cart_product_path(cart_product)
        %td= link_to 'Destroy', cart_product, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Cart product', new_cart_product_path
