= simple_form_for(@cart) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :city_id, label: false, input_html: { value: current_user.city_id, type: 'hidden' }

  .form-actions
    = f.button :submit
