- if current_user
  %li
    %a= current_user.city.region_name
  %li.dropdown
    %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
      = current_user.email
      %span.caret
    %ul.dropdown-menu
      %li
        = link_to 'Edit', edit_user_registration_path(current_user)
      %li.divider{:role => "separator"}
      %li
        = link_to 'Logout', destroy_user_session_path, method: :delete
- else
  %li
    = link_to 'Login', new_user_session_path
  %li
    = link_to 'Register', new_user_registration_path
